# N8N Environment Variables
N8N_HOST={{ n8n_host }}
N8N_PORT=5678
N8N_PROTOCOL={{ n8n_protocol }}
N8N_WEBHOOK_URL={{ n8n_webhook_url }}
N8N_BASIC_AUTH_ACTIVE={{ n8n_basic_auth_active | lower }}
N8N_BASIC_AUTH_USER={{ n8n_basic_auth_user }}
N8N_BASIC_AUTH_PASSWORD={{ n8n_basic_auth_password }}
GENERIC_TIMEZONE={{ n8n_timezone }}
DB_TYPE={{ n8n_db_type }}
DB_POSTGRESDB_HOST={{ n8n_db_host }}
DB_POSTGRESDB_PORT={{ n8n_db_port }}
DB_POSTGRESDB_DATABASE={{ n8n_db_name }}
DB_POSTGRESDB_USER={{ n8n_db_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}
{% if n8n_telegram_bot_token %}
N8N_TELEGRAM_BOT_TOKEN={{ n8n_telegram_bot_token }}
{% endif %}